@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 0em;
    font-family: "DM Sans";
}
body{
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
   
}
    .main{
    color:rgb(222, 149, 161);
    font-size: 30px;
}
input {
  padding: 9px;
  color: black;
}
input::placeholder{
    text-align: center;
    font-style: italic;
}
h2{
    font-size:1em ;
    color: rgb(191, 110, 110);
    font-weight: bold;
    margin-left: 5em;
}
#list li {
    color: black;
    font-size: 22px;
    margin-left: 8em;
    list-style-type: square;
}
.card{
    background-color: whitesmoke;
    width: 35%;
    max-width: 650px;
    min-height: 15em;
    border-radius: 1em;
    box-shadow: 5px 6px 11px rgb(129, 95, 129);
    text-align: center;
    margin: 3.5em;
    padding: 2.5em;
}
.card input,.card h1{
    background-color: transparent;
}